<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Товар</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

<div th:replace="~{blocks/header :: header}"></div>

<div class="container my-5">
    <div class="col-md-8 mt-2" th:if="${lens_id.isPresent()}" th:with="lens=${lens_id.get()}">
        <div class="row">
            <div class="col-md-8">
                <img src="https://www.sony.ua/image/a9b7754673f72cccf7044395d505cbea?fmt=png-alpha&wid=660&hei=660" class="card-img-top" alt="...">
            </div>
            <div class="col-md-4">
                <h2 class="card-text" th:text="'Байонет: ' + ${lens.bayonet}"></h2>
                <p class="card-text" th:text="'Виробник: ' + ${lens.manufacturers}"></p>
                <p class="card-text" th:text="'Фокусна відстань: ' + ${lens.focalLength}"></p>
                <p class="card-text" th:text="'Тип об`єктива: ' + ${lens.lensType}"></p>
                <p class="card-text" th:text="'Фокусування: ' + ${lens.focus}"></p>
                <p class="card-text" th:text="'За нарпямком: ' + ${lens.direction}"></p>
                <p class="card-text" th:text="'Формат матриці: ' + ${lens.matrixFormat}"></p>
                <p class="card-text" th:text="'Вага: ' + ${lens.weight}"></p>
                <h5 th:text="'Ціна: ' + ${lens.price}"></h5>
                <form method="post" action="/cart/add-product-db">
                    <input type="hidden" name="nameProduct" th:value="${lens.bayonet + ' ' + lens.manufacturers}" />
                    <input type="hidden" name="price" th:value="${lens.price}" />
                    <input type="hidden" name="userName" id="userNameInput" />
                    <button type="submit" class="btn btn-primary" id="addToCartBtn">В корзину</button>
                </form>
            </div>
            <div class="col-md-4 mt-3">
                <button type="button" class="btn btn-primary  mb-3" id="updateToLensCart" th:data-id="${lens.id}">Редагувати</button>
                <button type="button" class="btn btn-primary" id="deleteToLensCart" th:data-id="${lens.id}">Видалити</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{blocks/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Отримуємо userName з local storage
        const userName = localStorage.getItem('userName');

        // Вставляємо userName у прихований інпут
        const userNameInput = document.getElementById('userNameInput');
        if (userNameInput) {
            userNameInput.value = userName;
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        let role = localStorage.getItem("role");
        let update = document.getElementById("updateToLensCart");
        let remove = document.getElementById("deleteToLensCart");
        let addToCartBtn = document.getElementById("addToCartBtn");

        if (role === "ADMIN") {
            update.style.display = "block";
            remove.style.display = "block";
        } else {
            update.style.display = "none";
            remove.style.display = "none";
        }

        // Перевірка наявності токену в localStorage
        let token = localStorage.getItem("token");
        if (token) {
            addToCartBtn.style.display = "block";
        } else {
            addToCartBtn.style.display = "none";
        }
    });

    // Відкриває сторінку з редагуванням і передає туди id
    document.getElementById('updateToLensCart').addEventListener('click', function () {
        const lensId = this.getAttribute('data-id');
        window.location.href = '/lens-page/page-update-lens?id=' + lensId;
    });

    // Відкриває сторінку з видаленням товару через id
    document.getElementById('deleteToLensCart').addEventListener('click', function () {
        const lensId = this.getAttribute('data-id');
        const confirmation = confirm('Ви впевнені, що хочете видалити цей товар?');
        if (confirmation) {
            window.location.href = '/lens-page/delete-lens?id=' + lensId;
        }
    });
</script>

</body>
</html>
