<!doctype html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .custom-card {
            border: 1px solid #333; /* Custom border (contour) */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s, box-shadow 0.2s;
        }

        .custom-card:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>

<div th:replace="~{blocks/header :: header}"></div>

<div class="container mt-2">
    <div class="row">

        <div class="col-lg-2" th:fragment="filter">

            <h2>Фільтр</h2>
            <form method="get" action="/camera-page/search-camera">
                <!--        <h5>Бренд</h5>-->
                <!--        <div class="form-check">-->
                <!--            <input class="form-check-input" type="checkbox" name="filterOptions" id="option1" value="option1"-->
                <!--                   checked>-->
                <!--            <label class="form-check-label" for="option1">-->
                <!--                Опція 1-->
                <!--            </label>-->
                <!--        </div>-->
                <!--        <div class="form-check">-->
                <!--            <input class="form-check-input" type="checkbox" name="filterOptions" id="option2" value="option2">-->
                <!--            <label class="form-check-label" for="option2">-->
                <!--                Опція 2-->
                <!--            </label>-->
                <!--        </div>-->
                <!--        <div class="form-check">-->
                <!--            <input class="form-check-input" type="checkbox" name="filterOptions" id="option3" value="option3">-->
                <!--            <label class="form-check-label" for="option3">-->
                <!--                Опція 3-->
                <!--            </label>-->
                <!--        </div>-->


                <!--        <h5>Матриця</h5>-->
                <!--        <div class="form-check">-->
                <!--            <input class="form-check-input" type="checkbox" name="filterOptions" id="option4" value="option4"-->
                <!--                   checked>-->
                <!--            <label class="form-check-label" for="option1">-->
                <!--                Опція 1-->
                <!--            </label>-->
                <!--        </div>-->
                <!--        <div class="form-check">-->
                <!--            <input class="form-check-input" type="checkbox" name="filterOptions" id="option5" value="option5">-->
                <!--            <label class="form-check-label" for="option2">-->
                <!--                Опція 2-->
                <!--            </label>-->
                <!--        </div>-->
                <!--        <div class="form-check">-->
                <!--            <input class="form-check-input" type="checkbox" name="filterOptions" id="option6" value="option6">-->
                <!--            <label class="form-check-label" for="option3">-->
                <!--                Опція 3-->
                <!--            </label>-->
                <!--        </div>-->


                <!--        <h5>Дісплей</h5>-->
                <!--        <div class="form-check">-->
                <!--            <input class="form-check-input" type="checkbox" name="filterOptions" id="option7" value="option7"-->
                <!--                   checked>-->
                <!--            <label class="form-check-label" for="option1">-->
                <!--                Опція 1-->
                <!--            </label>-->
                <!--        </div>-->
                <!--        <div class="form-check">-->
                <!--            <input class="form-check-input" type="checkbox" name="filterOptions" id="option8" value="option8">-->
                <!--            <label class="form-check-label" for="option2">-->
                <!--                Опція 2-->
                <!--            </label>-->
                <!--        </div>-->
                <!--        <div class="form-check">-->
                <!--            <input class="form-check-input" type="checkbox" name="filterOptions" id="option9" value="option9">-->
                <!--            <label class="form-check-label" for="option3">-->
                <!--                Опція 3-->
                <!--            </label>-->
                <!--        </div>-->


                <h5>Ціна</h5>
                <div class="col-md-4">
                    <label for="price-from" class="form-label">Від</label>
                    <input type="number" class="form-control" id="price-from" name="priceFrom" placeholder="Мін. ціна" min="0">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="price-to" class="form-label">До</label>
                    <input type="number" class="form-control" id="price-to" name="priceTo" placeholder="Макс. ціна" max="99999">
                </div>

                <select class="form-control me-2" name="sort" id="sort">
                    <option value="priceAsc">Ціна (зростання)</option>
                    <option value="priceDesc">Ціна (спадання)</option>
                    <option value="nameAsc">Назва (А-Я)</option>
                    <option value="nameDesc">Назва (Я-А)</option>
                </select>


                <button type="submit" class="btn btn-primary mt-3" >Відфільтрувати</button>
                <button type="submit" class="btn btn-primary mt-3" onclick="window.location.href='/camera-page'">Скинути фільтр</button>
            </form>
        </div>

        <!-- Колонка з товарами -->
        <div class="col-lg-9">
            <div class="album py-5 bg-body-tertiary">
                <div class="container">

                    <button type="button" class="btn btn-primary me-2 mb-2" onclick="window.location.href='/camera-page/page-create-camera'">Додати</button>

                    <!--Пошук-->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-6">
                            <form class="d-flex" method="get" action="/camera-page/search-camera">
                                <input class="form-control me-2" id="search-camera" name="brand" type="search" placeholder="Пошук" aria-label="Пошук">
                                <button class="btn btn-outline-success" type="submit">Пошук</button>
                            </form>
                        </div>
                    </div>

<!--                    <div class="row justify-content-center mb-3">-->
<!--                        <div class="col-md-6">-->
<!--                            <form class="d-flex" method="get" action="/camera-page/search-camera">-->
<!--                                <input class="form-control me-2" id="search-camera" name="brand" type="search" placeholder="Пошук" aria-label="Пошук">-->
<!--                                <select class="form-control me-2" name="sort" id="sort">-->
<!--                                    <option value="priceAsc">Ціна (зростання)</option>-->
<!--                                    <option value="priceDesc">Ціна (спадання)</option>-->
<!--                                    <option value="nameAsc">Назва (А-Я)</option>-->
<!--                                    <option value="nameDesc">Назва (Я-А)</option>-->
<!--                                </select>-->
<!--                                <button class="btn btn-outline-success" type="submit">Пошук</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
                        <!--Карточка camera-->
                        <div class="col-md-4" th:each="el : ${camera}">
                            <a th:href="@{/camera-page/page-camera-id/{id}(id=${el.id})}"
                               class="text-decoration-none text-reset">
                                <div class="card custom-card">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                         xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                         focusable="false"><title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#55595c"></rect>
                                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>
                                    <div class="card-body">
                                        <h3 class="card-text" th:text="${el.brand}"></h3>
                                        <p class="card-text" th:text="'Модель: ' + ${el.model}"></p>
                                        <p class="card-text" th:text="'Матриця: ' + ${el.matrix}"></p>
                                        <p class="card-text" th:text="'Дісплей: ' + ${el.shootingFeatures}"></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h5 th:text="'Ціна: ' + ${el.price}"></h5>
                                            </div>
                                            <div class="btn-group ml-auto">
                                                <i class="bi bi-bag-plus "></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--Карточка-->
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                        <ul class="pagination">
                            <li th:each="i : ${#numbers.sequence(0, camera.totalPages - 1)}" class="page-item">
                                <a class="page-link" th:href="@{/camera-page(page=${i}, size=${camera.size})}"
                                   th:text="${i + 1}"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{blocks/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // function sendSearchQuery() {
    //     // Отримуємо значення з поля пошуку
    //     let searchValue = document.getElementById("search-camera").value;
    //
    //     // Створюємо новий об'єкт XMLHttpRequest
    //     let xhr = new XMLHttpRequest();
    //
    //     // Встановлюємо метод та адресу, куди будемо відправляти запит
    //     xhr.open("POST", "/your-controller-url", true);
    //
    //     // Встановлюємо заголовок запиту
    //     xhr.setRequestHeader("Content-Type", "application/json");
    //
    //     // Встановлюємо обробник подій для відповіді на запит
    //     xhr.onreadystatechange = function () {
    //         if (xhr.readyState === XMLHttpRequest.DONE) {
    //             if (xhr.status === 200) {
    //                 // Виконуємо дії з отриманими даними, якщо все пройшло успішно
    //                 console.log("Отримано відповідь від сервера:", xhr.responseText);
    //             } else {
    //                 // Обробляємо помилку, якщо вона сталася
    //                 console.error("Помилка при виконанні запиту:", xhr.status);
    //             }
    //         }
    //     };
    //
    //     // Відправляємо дані на сервер
    //     xhr.send(JSON.stringify({ query: searchValue }));
    // }
</script>

</body>
</html>
