<!--<!doctype html>-->
<!--<html lang="ua" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title></title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">-->
<!--</head>-->
<!--<body>-->

<!--<div th:replace="~{blocks/header :: header}"></div>-->

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        &lt;!&ndash;інформація про товар&ndash;&gt;-->
<!--        <div class="col-md-8 mt-2" th:if="${camera_id.isPresent()}" th:with="camera=${camera_id.get()}">-->
<!--            <div class="row">-->
<!--                <div class="col-md-8">-->
<!--                    <img src="https://i1.adis.ws/i/canon/eos-r6-rf24-105mm-f4_7.1_is_stm_front-on_square_6412568cc0e7484b96bd55e43069a56c?$prod-grid-1by1-jpg$" class="img-fluid" alt="Фото товару">-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <h2 class="card-text" th:text="${camera.brand}"></h2>-->
<!--                    <p class="card-text" th:text="'Модель: ' + ${camera.model}"></p>-->
<!--                    <p class="card-text" th:text="'Матриця: ' + ${camera.matrix}"></p>-->
<!--                    <p class="card-text" th:text="'Дисплей: ' + ${camera.display}"></p>-->
<!--                    <p class="card-text" th:text="'Рошиверння відео: ' + ${camera.video}"></p>-->
<!--                    <p class="card-text" th:text="'Вага: ' + ${camera.cameraWeight}"></p>-->
<!--                    <p class="card-text" th:text="'Фокусування: ' + ${camera.focusing}"></p>-->
<!--                    <p class="card-text" th:text="'Діагональ дисплея: ' + ${camera.displayDiagonal}"></p>-->
<!--                    <h5 th:text="'Ціна: ' + ${camera.price}"></h5>-->

<!--                    <form action="/addToCart" method="post">-->
<!--                        <input type="hidden" name="name" th:value="${camera.brand + ' ' + camera.model}" />-->
<!--                        <input type="hidden" name="price" th:value="${camera.price}" />-->
<!--                        <button type="submit" class="btn btn-primary">В корзину</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--    </div>-->
<!--</div>-->

<!--<div th:replace="~{blocks/footer :: footer}"></div>-->

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Товар</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

<div th:replace="~{blocks/header :: header}"></div>

<div class="container my-5">
    <div class="col-md-8 mt-2" th:if="${camera_id.isPresent()}" th:with="camera=${camera_id.get()}">
        <div class="row">
            <div class="col-md-8">
                <img src="https://i1.adis.ws/i/canon/eos-r6-rf24-105mm-f4_7.1_is_stm_front-on_square_6412568cc0e7484b96bd55e43069a56c?$prod-grid-1by1-jpg$"
                     class="img-fluid" alt="Фото товару">
            </div>
            <div class="col-md-4">
                <h2 class="card-text" id="brand" th:text="${camera.brand}"></h2>
                <p class="card-text" th:text="'Модель: ' + ${camera.model}"></p>
                <p class="card-text" th:text="'Матриця: ' + ${camera.matrix}"></p>
                <p class="card-text" th:text="'Зйомка та функції: ' + ${camera.shootingFeatures}"></p>
                <p class="card-text" th:text="'Розширення відео: ' + ${camera.video}"></p>
                <p class="card-text" th:text="'Вага: ' + ${camera.cameraWeight}"></p>
                <p class="card-text" th:text="'Кратність збільшення: ' + ${camera.multiplicityOfIncrease}"></p>
                <p class="card-text" th:text="'Діагональ дисплея: ' + ${camera.displayDiagonal}"></p>
                <h5 id="price" th:text="'Ціна: ' + ${camera.price}"></h5>

                <form method="post" action="/cart/add-product-db">
                    <input type="hidden" name="nameProduct" th:value="${camera.brand + ' ' + camera.model}" />
                    <input type="hidden" name="price" th:value="${camera.price}" />
                    <input type="hidden" name="userName" id="userNameInput" />
                    <button type="submit" class="btn btn-primary">В корзину</button>
                </form>
            </div>
            <div class="col-md-4 mt-3">
                <button type="button" class="btn btn-primary mb-3" id="updateToCameraCart" th:data-id="${camera.id}">
                    Редагувати
                </button>
                <button type="button" class="btn btn-primary" id="deleteToCameraCart" th:data-id="${camera.id}">
                    Видалити
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let role = localStorage.getItem("role");
        let update = document.getElementById("updateToCameraCart");
        let remove = document.getElementById("deleteToCameraCart");


        if (role === "ADMIN") {
            update.style.display = "block";
            remove.style.display = "block";
        } else {
            update.style.display = "none";
            remove.style.display = "none";
        }

    });

    document.addEventListener('DOMContentLoaded', function () {
        // Отримуємо userName з local storage
        const userName = localStorage.getItem('userName');

        // Вставляємо userName у прихований інпут
        const userNameInput = document.getElementById('userNameInput');
        if (userNameInput) {
            userNameInput.value = userName;
        }
    });

    // Відкриває сторінку з редагуванням і передає туди id
    document.getElementById('updateToCameraCart').addEventListener('click', function () {
        const cameraId = this.getAttribute('data-id');
        window.location.href = '/camera-page/page-update-camera?id=' + cameraId;
    });

    // Відкриває сторінку з видаленням товару через id
    document.getElementById('deleteToCameraCart').addEventListener('click', function () {
        const cameraId = this.getAttribute('data-id');
        const confirmation = confirm('Ви впевнені, що хочете видалити цей товар?');
        if (confirmation) {
            window.location.href = '/camera-page/delete-camera?id=' + cameraId;
        }
    });
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>

