<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Корзина</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .cart-item {
            width: 100%;
            border-radius: 15px;
            font-weight: bold;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border: 2px solid black;
        }

    </style>
</head>
<script>
    function redirectToOrderPage() {
        const userName = localStorage.getItem('userName');
        const totalAmount = calculateTotalAmount();

        window.location.href = `/cart/an-Order?userName=${encodeURIComponent(userName)}&totalAmount=${encodeURIComponent(totalAmount)}`;
    }

    function calculateTotalAmount() {
        let total = 0;
        const cartItems = document.querySelectorAll('.cart-item');

        cartItems.forEach(item => {
            const priceText = item.querySelector('.price').textContent;
            const price = parseFloat(priceText.split(':')[1].trim());
            const quantity = parseInt(item.querySelector('.quantity').textContent.split(':')[1].trim());
            total += price * quantity;
        });

        return total;
    }

    function loadCart() {
        const userName = localStorage.getItem('userName');

        if (userName) {
            fetch(`/cart/load?userName=${encodeURIComponent(userName)}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(cartData => {
                    const cartContent = document.getElementById('cartContent');
                    const emptyCartMessage = document.getElementById('emptyCartMessage');
                    const totalAmount = document.getElementById('totalAmount');

                    let total = 0;
                    const cartItemsMap = new Map();
                    cartContent.innerHTML = '';

                    if (cartData.length > 0) {
                        cartData.forEach(item => {
                            if (cartItemsMap.has(item.nameProduct)) {
                                cartItemsMap.get(item.nameProduct).quantity++;
                            } else {
                                cartItemsMap.set(item.nameProduct, { ...item, quantity: 1 });
                            }
                        });

                        cartItemsMap.forEach(item => {
                            const itemElement = document.createElement('div');
                            itemElement.className = 'cart-item border p-3 mb-3';
                            itemElement.innerHTML = `
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5>${item.nameProduct}</h5>
                                        <p class="price">Ціна: ${item.price}</p>
                                        <p class="quantity">Кількість: ${item.quantity}</p>
                                    </div>
                                    <button type="button" class="btn btn-danger delete-btn" data-id="${item.id}">Видалити</button>
                                </div>
                            `;
                            cartContent.appendChild(itemElement);
                            total += item.price * item.quantity;
                        });

                        totalAmount.textContent = `Загальна сума: ${total.toFixed(2)} грн`;

                        document.querySelectorAll('.delete-btn').forEach(button => {
                            button.addEventListener('click', function () {
                                const itemId = this.getAttribute('data-id');
                                deleteItem(itemId);
                            });
                        });

                        const orderButton = document.querySelector('.order-button');
                        orderButton.style.display = "block";
                    } else {
                        emptyCartMessage.innerHTML = '<p>Ваша корзина порожня.</p>';
                        totalAmount.textContent = '';

                        const orderButton = document.querySelector('.order-button');
                        orderButton.style.display = "none";
                    }
                })
                .catch(error => {
                    console.error('Виникла помилка під час виконання запиту:', error);
                });
        } else {
            const emptyCartMessage = document.getElementById('emptyCartMessage');
            emptyCartMessage.innerHTML = '<p>Користувач не знайдений.</p>';
            const totalAmount = document.getElementById('totalAmount');
            totalAmount.textContent = '';

            const orderButton = document.querySelector('.order-button');
            orderButton.style.display = "none";
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        loadCart();
    });

    function deleteItem(itemId) {
        fetch(`/cart/delete-product-db?id=${encodeURIComponent(itemId)}`, {
            method: 'POST'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                loadCart();
            })
            .catch(error => {
                console.error('Помилка при видаленні товару:', error);
            });
    }
</script>
<body>

<div th:replace="~{blocks/header :: header}"></div>

<div class="container my-5">
    <h2 class="mb-4">Ваша корзина</h2>
    <div id="cartContent"></div>
    <div id="emptyCartMessage" class="d-flex flex-column align-items-center"></div>
    <div id="totalAmount" class="mt-3"></div>
    <button onclick="redirectToOrderPage()" class="btn btn-primary mt-3 order-button">Оформлення замовлення</button>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
