<!-- Колонка з фільтрами -->
<div class="col-lg-2" th:fragment="filter">

    <h2>Фільтр</h2>
    <form method="get" action="/camera-page/search-camera">


        <h5>Ціна</h5>
        <div class="col-md-4">
            <label for="price-from" class="form-label">Від</label>
            <input type="number" class="form-control" id="price-from" name="priceFrom" placeholder="Мін. ціна" min="0">
        </div>
        <div class="col-md-4 mb-3">
            <label for="price-to" class="form-label">До</label>
            <input type="number" class="form-control" id="price-to" name="priceTo" placeholder="Макс. ціна" max="99999">
        </div>

        <select class="form-control me-2" name="sort" id="sort">
            <option value="priceAsc">Ціна (зростання)</option>
            <option value="priceDesc">Ціна (спадання)</option>
            <option value="nameAsc">Назва (А-Я)</option>
            <option value="nameDesc">Назва (Я-А)</option>
        </select>


        <button type="submit" class="btn btn-primary mt-3" >Відфільтрувати</button>
        <button type="submit" class="btn btn-primary mt-3" onclick="window.location.href='/camera-page'">Скинути фільтр</button>
    </form>
</div>
