<div th:fragment="header" class="mb-3">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <ul class="nav col-12 col-lg-auto mb-2 mb-lg-0">
                    <li><a href="/main" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="/camera-page" class="nav-link px-2 text-white">Camera</a></li>
                    <li><a href="/lens-page" class="nav-link px-2 text-white">Lens</a></li>
                    <li><a href="/tripod-page" class="nav-link px-2 text-white">Tripod</a></li>
                </ul>
                <div class="text-end d-flex justify-content-end align-items-center">
                    <a href="/cart" id="cartButton" class="nav-link px-2 text-white" style="display:none;">Кошик</a>
                    <a id="ButtonOrders" class="nav-link px-2 text-white" style="display:none;">Мої закази</a>
                    <a id="allOrderUser" class="nav-link px-2 text-white">Замовлення</a>
                    <a id="allUserList" class="nav-link px-2 text-white">Список користувачів</a>
                    <a href="/loginPage" id="loginButton" class="btn btn-outline-light me-2" role="button" style="display:none;">Login</a>
                    <a href="/registerPage" id="signUpButton" class="btn btn-warning" role="button">Sign-up</a>
                    <a href="" id="logoutButton" class="btn btn-outline-light me-2" role="button" style="display:none;">Logout</a>
                </div>
            </div>
        </div>

    </header>
    <script>
        document.getElementById("ButtonOrders").addEventListener("click", function(event) {
            event.preventDefault();
            let userName = localStorage.getItem("userName");
            window.location.href = "/userOrders?userName=" + userName;
        });

        // Hide or show buttons based on role
        document.addEventListener("DOMContentLoaded", function () {
            let token = localStorage.getItem("token");
            let role = localStorage.getItem("role");
            let logoutButton = document.getElementById("logoutButton");
            let allOrderUser = document.getElementById("allOrderUser");
            let allUserList = document.getElementById("allUserList");
            let cartButton = document.getElementById("cartButton");
            let ButtonOrders = document.getElementById("ButtonOrders");
            let loginButton = document.getElementById("loginButton");
            let signUpButton = document.getElementById("signUpButton");

            // Check if the token exists
            if (token) {
                // Hide the "Login" and "Sign-up" buttons if they exist
                if (loginButton) {
                    loginButton.style.display = "none";
                }
                if (signUpButton) {
                    signUpButton.style.display = "none";
                }

                // Show the "Logout" button if it exists
                if (logoutButton) {
                    logoutButton.style.display = "block";
                }

                // Show the cart button
                if (cartButton) {
                    cartButton.style.display = "block";
                }

                if (ButtonOrders) {
                    ButtonOrders.style.display = "block";
                }

                // Show/hide admin and profile buttons based on role
                if (role === "ADMIN") {
                    if (allOrderUser) {
                        allOrderUser.style.display = "block";
                    }
                    if (allUserList) {
                        allUserList.style.display = "block";
                    }
                } else {
                    // Hide admin buttons if not an admin
                    if (allOrderUser) {
                        allOrderUser.style.display = "none";
                    }
                    if (allUserList) {
                        allUserList.style.display = "none";
                    }
                }
            } else {
                // If the token is missing, hide the "Logout" button
                if (logoutButton) {
                    logoutButton.style.display = "none";
                }
                // Show the "Login" button if the token is missing
                if (loginButton) {
                    loginButton.style.display = "block";
                }

                // Hide admin buttons if not logged in
                if (allOrderUser) {
                    allOrderUser.style.display = "none";
                }
                if (allUserList) {
                    allUserList.style.display = "none";
                }
            }

            // Add event handler for the "Logout" button
            if (logoutButton) {
                logoutButton.addEventListener("click", function (event) {
                    event.preventDefault(); // Prevent default actions

                    // Remove the token and role from local storage
                    localStorage.removeItem("token");
                    localStorage.removeItem("role");
                    localStorage.removeItem("totalAmount");
                    localStorage.removeItem("userName");

                    // Redirect the user to the main page
                    window.location.href = "/main"; // Replace "/loginPage" with the URL you want to redirect the user to
                });
            }
        });

        document.getElementById("allOrderUser").addEventListener("click", function (event) {
            event.preventDefault();
            let token = localStorage.getItem("token");
            // Check if the token exists
            if (token) {
                let requestOptions = {
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    redirect: 'follow'
                };

                fetch("/adminOrders", requestOptions)
                    .then(response => {
                        if (response.ok) {
                            return response.text();
                        } else {
                            console.log('Error:', response.statusText);
                            return Promise.reject(response);
                        }
                    })
                    .then(html => {
                        document.open();
                        document.write(html);
                        document.close();
                    })
                    .catch(error => console.log('error', error));
            } else {
                console.log("Token not found.");
            }
        });

        document.getElementById("allUserList").addEventListener("click", function (event) {
            event.preventDefault();
            let token = localStorage.getItem("token");
            // Check if the token exists
            if (token) {
                let requestOptions = {
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    redirect: 'follow'
                };

                fetch("/adminUserList", requestOptions)
                    .then(response => {
                        if (response.ok) {
                            return response.text();
                        } else {
                            console.log('Error:', response.statusText);
                            return Promise.reject(response);
                        }
                    })
                    .then(html => {
                        document.open();
                        document.write(html);
                        document.close();
                    })
                    .catch(error => console.log('error', error));
            } else {
                console.log("Token not found.");
            }
        });
    </script>
</div>
